
@{
    ViewBag.Title = "Home";
}

@*<h2>Home</h2>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
        <div class="container-fluid"></div>
        <image src="~/Image/HomeLogo.png" align="left" alt="Snow" />
        <div class="navbar-header">
                <a style="padding-left: 460px;" class="navbar-brand" href="/Home/Home">Home</a>
                <a class="navbar-brand" href="/Home/About">About</a>
                <a class="navbar-brand" href="/Home/Contact">Contact</a>
            </div>
        <ul class="nav navbar-nav ">
            <li><a class="navbar-brand" href="/Registration/SignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a class="navbar-brand" href="/Login/SignIn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        <br />
        <image src="~/Image/HomeImage.png" align="right" alt="Snow" width="600" height="500" />
        &nbsp;<br />&nbsp;<br />
        <image src="~/Image/Home2.png" />
        <h3> CORONA VIRUS - STAY HOME STAY SAFE</h3><br />

        <div id="footer" style="text-align: justify">
            COVID-19 is the infectious disease caused by the most recently discovered coronavirus.
            This new virus and disease were unknown before the outbreak began in Wuhan, China, in December 2019.
        </div>
</body>
</html>
<style>
    .navbar-brand {
        color: silver;
        font-size:20px;
    }

    body {
        background-color: rgb(243,243,255);
    }
   
   
</style>
