
@{
    ViewBag.Title = "UserHomePage";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid"></div>
    <image src="~/Image/HomeLogo.png" align="left" alt="Snow" />
    <div class="navbar-header">
        <a style="padding-left: 460px;" class="navbar-brand" href="/Home/Home">Home</a>
        <a class="navbar-brand" href="/Home/About">About</a>
        <a class="navbar-brand" href="/Home/Contact">Contact</a>
    </div>
        <ul class="nav navbar-nav ">
            <li><a class="navbar-brand" href="/Registration/SignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a class="navbar-brand" href="/Login/SignIn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    <br /><br />
    <br />
    <center>
            <h2 style="color:#399cbd;">Our Services </h2>
        </center>
        <br />
        <br />
        <div>
            <div class="services-box">
                <img src="~/Image/globe.png" width="50" height="50" style="background-color: rgb(243,243,255); position: relative;  margin-left: 195px;" />
                <img src="~/Image/Historycovid.png" width="50" height="50" style="background-color: rgb(243,243,255); position: relative;  margin-left: 340px;" />
                <img src="~/Image/covid-test (2).png" width="50" height="50" style="background-color: rgb(243,243,255); position: relative;  margin-left: 390px;" />
                <p style="text-align:justify;position: relative; margin-left: 110px; margin-top:10px">
                    Here, You can will the latest covid-19 <br />
                    cases and details of state wise in india.
                </p>
                <a href="#"><i class="fa fa-arrow-right" width="150" style="position: relative; margin-left: 330px;"></i></a><br />
                <img src="~/Image/hospital-bed (1).png" width="50" height="50" style="background-color: rgb(243,243,255); position: relative;  margin-left: 200px;margin-top:40px" />
                <img src="~/Image/hospital (1).png" width="50" height="50" style="background-color: rgb(243,243,255); position: relative;  margin-left: 340px; margin-top:30px" />
                @*</div>*@

                @*<div class="services-box">*@

                <p style="text-align:justify; position: relative; margin-left:500px; margin-top:-160px">
                    Here, You will get the history about<br />
                    covid-19 state wise in india
                </p>
                <a href="#"><i class="fa fa-arrow-right" width="150" style="position: relative; margin-left: 710px;  margin-top:-200px;"></i></a>



                <p style="text-align:justify; position: relative; margin-left:900px; margin-top:-70px">
                    Here, You will get the coronavirus diseases latest
                    testing details state wise in india.
                </p>
                <a href="#"><i class="fa fa-arrow-right" width="150" style="position: relative; margin-left: 1130px;"></i></a>

                <p style="text-align:justify; position: relative; margin-left: 110px; margin-top:80px">
                    Here, You will get the coronavirus cases in total<br />
                    hospital and beds details of state wise in india.

                </p>
                <a href="#"><i class="fa fa-arrow-right" width="150" style="position: relative; margin-left: 395px;"></i></a>

                <p style="text-align:justify; position: relative; margin-left: 500px; margin-top:-70px">
                    Here, You will get the coronavirus cases in total<br />
                    medical Colleges details of state wise in india.

                </p>
                <a href="#"><i class="fa fa-arrow-right" width="150" style="position: relative; margin-left: 790px;"></i></a>
            </div>
        </div>
</body>
</html>
<style>
    .navbar-brand {
        color: silver;
        font-size: 20px;
    }

    body {
        background-color: rgb(243,243,255);
    }

    /*img {
        position: relative;
        margin-left: 190px;
    }*/


    /*.services-box {
        box-shadow: 0 0 4px 0 #ffa709;
        padding: 15px;
        position: relative
    }*/


    /*.fa {
        font-size: 40px !important;
        margin-bottom: 20px;
        background: linear-gradient(to right,#ff185f,#ffad06);
        -webkit-background-clip: text;
        color: transparent;
    }

    p {
        text-align: justify;
    }*/

    /*  a {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: block;
        text-align: center;
        position: absolute;
        bottom: -20px;
        right: 20px;
        background: linear-gradient(to right,#ff185f,#ffad06);
    }

    span {
        background: linear-gradient(to right,#ff185f,#ffad06);
        -webkit-background-clip: text;
        color: transparent;
    }*/

    /*a.fa {
        color: #fff;
        font-size: 25px;
        padding-top: 6px;
    }*/
</style>
